.TitleProducts{
    font-size: 6rem;
    text-align: center;
    color: rgb(181, 207, 176);
    padding-top: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divPadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Cards{
    padding-top: 6rem;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(3,1fr);
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    width: 500px;
    box-shadow: 1px 1px 10px rgb(222, 219, 219);
    margin: 1rem;
    padding: 1rem;
    border-radius: 2%;
    }
.Images img{
    width: 450px;
    margin: 1rem;
    height: 300px;
    object-fit: contain;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.606));
}
.Title{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Description{
    padding: 3rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2rem;
}
.Description h2{
    padding-bottom: 3rem;
}
.Previous{
    text-decoration:line-through;
    font-family:sans-serif;
}
.Price{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
.Boton-Agregar{
    background: green;
    color: white;
    font-size: 1.1rem;
    font-family: monospace;
    border-color:green;
}
.Boton-Agregar:hover{
    color: green;
    background: white;
    transition: 1s;
    border-color: rgb(213, 204, 204);
}
